*.font:		xft:Source Code Pro:size=12, xft:Source\ Code\ Pro\ for\ Powerline:size=12, xft:Font\ Awesome:size=12, xft:symbola:size=12

! special
*.foreground:   #8888aa
*.background:   #00000a
*.cursorColor:  #8888aa

! black
*.color0:       #282828
*.color8:       #373737

! red
*.color1:       #aa0000
*.color9:       #cc0022

! green
*.color2:       #33aa33
*.color10:      #55cc55

! yellow
*.color3:       #ccaa00
*.color11:      #ffcc00

! blue
*.color4:       #0000d7
*.color12:      #2222ff

! magenta
*.color5:       #8700ff
*.color13:      #ff00aa

! cyan
*.color6:       #0099bb
*.color14:      #00bbdd

! white
*.color7:       #eeeeff
*.color15:      #ffffff

Xft.dpi:									96
Xft.antialias:						true
Xft.rgba:									rgb
Xft.hinting:							true
Xft.hintingstyle:					hintfull

URxvt.intensityStyles:		false
URxvt.background:					[90]#00000A
URxvt.foreground:					#8888AA
URxvt.depth:							32
URxvt.skipBuiltinGlyphs:	true
! URxvt*font:								xft:Source Code Pro:size=12, xft:Source\ Code\ Pro\ for\ Powerline:size=12, xft:symbola:size=12
URxvt*letterSpace:				1
URxvt.scrollBar:					false
URxvt.cursorColor:				#8888AA
