#include ".Xresources.d/dark"

*.font:		xft:Source Code Pro for Powerline:size=13,xft:SauceCodePro Nerd Font Mono:size=13
*.boldfont: xft:SauceCodePro Nerd Font Mono:bold:size=13

Xft.dpi:									96
Xft.antialias:						true
Xft.rgba:									rgb
Xft.hinting:							true
Xft.hintingstyle:					hintfull

URxvt.intensityStyles:		false
URxvt.depth:							32
URxvt.skipBuiltinGlyphs:	true
URxvt.letterSpace:				1.5
! URxvt*font:								xft:Source Code Pro:size=12, xft:Source\ Code\ Pro\ for\ Powerline:size=12, xft:symbola:size=12
URxvt.scrollBar:					false
URxvt.cursorColor:				#8888AA
